extends layout

block content
  

  script(src="http://code.jquery.com/jquery-1.7.2.min.js")
  script(src="http://d3js.org/d3.v5.min.js")

  script(src='https://d3js.org/d3-color.v1.min.js')
  script(src='https://d3js.org/d3-interpolate.v1.min.js')
  script(src='https://d3js.org/d3-scale-chromatic.v1.min.js')

  script(src="https://d3js.org/d3-array.v1.min.js")
  script(src="https://d3js.org/d3-path.v1.min.js")
  script(src="https://d3js.org/d3-chord.v1.min.js")
  
  script(src="/lodash/lodash.min.js")
  
  #chart

  script(src='/test.js')
  script(src='/test2.js')
  link(rel='stylesheet', href='/stylesheets/treemap.css')
  link(rel='stylesheet', href='/stylesheets/circos.css')

    
