doctype html
html
  head
  meta(charset="utf-8")
  title Company Visualization
  link(rel='stylesheet', href='/stylesheets/style.css')
    
  body
    nav
      .up ⇽ UP
      .detail ⇾ DETAIL
    block content
    
