svg {
  font: 10px sans-serif;
}
  
.group-tick line {
  stroke: #000;
}
  
.ribbons {
  fill-opacity: 0.67;
}
.hide {
  opacity: 0;
  pointer-events: none;
}

.sub {
  z-index: 100;
  position: fixed;
  right : 80px;
  top : 30px;
  width: 300px;
  margin: 50px 0px 80px 0px;
}

.sub_title {
  font: 18px sans-serif;
  margin-top: 4px;
  margin-bottom: 10px;
}

.sub_text {
  font: 13px sans-serif;
}

.sub_sum {
  margin-top: 5px;
  margin-bottom: 15px;
  font: 16px sans-serif;
  font-weight: bold;;
}

.myself {
  text-align: center;
  font: 18px sans-serif;
  line-height: 1;
  font-weight: bold;
}

.self_container, .have_container, .hadpp_container, .only_container {
  border : solid 1px #999999;
  margin-top: 4px;
  padding: 4px;
}
.outer {
  width: 100%;
  display: flex;
}

.left, .right {
  width: 45%;
}

/* .have {
  color: #440022;
}

.hadpp {
  color: #224400;
} */

/* @media (max-width: 1200px) {
  svg {
    width: 1024px;
    height: 850px; 
  }

  .sub {
    width: 150px;
    height: 700px;
    border : solid 1px #999999;
    margin: 50px 0px 80px 0px;
  }
}
*/

@media (max-height: 800px) {
  /* body {
    position: absolute;
    overflow: auto;
  } */
}