body {
  font: 10px sans-serif;
}
  
.group-tick line {
  stroke: #000;
}
  
.ribbons {
  fill-opacity: 0.67;
}
.hide {
  opacity: 0;
  pointer-events: none;
}

.sub {
  width: 25%;
  height: 850px;
  border : solid 1px #999999;
  float: right;
  margin: 50px 70px 80px 0px;
}
  