svg {
  font: 10px sans-serif;
}
  
.group-tick line {
  stroke: #000;
}
  
.ribbons {
  fill-opacity: 0.67;
}
.hide {
  opacity: 0;
  pointer-events: none;
}

.sub {
  height : 100vh;
  overflow-y: auto;

  padding: 24px 0px 16px 0px;
  background: rgba(255,255,255,0.8);

  z-index: 100;
  position: fixed;
  right : 80px;
  top : 0px;
  width: auto;
}

.sub_title {
  font: 14px sans-serif;
  text-align: left;
  margin-top: 4px;
  margin-bottom: 10px;
}

.sub_text {
  font: 13px sans-serif;
}

.sub_sum {
  margin-top: 5px;
  margin-bottom: 15px;
  font: 16px sans-serif;
  font-weight: bold;;
}

.myself {
  text-align: center;
  font: 18px sans-serif;
  line-height: 1;
  font-weight: bold;
}

.self_container, .have_container, .hadpp_container, .only_container {
  /* border : solid 1px #999999; */
  margin-top: 4px;
  padding: 4px;
}

table {
  width: 350px;
}

@media (max-width: 1200px) {
  .sub {
    height : 100vh;
    overflow-y: auto;

    z-index: 100;
    position: fixed;
    right : 0px;
    top : 0px;
    width: auto;
  }

  table {
    width: 100px;
  }
}

@media (min-width: 1201px) and (max-width: 1500px) {
  .sub {
    height : 100vh;
    overflow-y: auto;

    z-index: 100;
    position: fixed;
    right : 100px;
    top : 0px;
    width: auto;
  }

  table {
    width: 250px;
  }
}

@media (min-width: 1501px) {
  .sub {
    height : 100vh;
    overflow-y: auto;
  
    z-index: 100;
    position: fixed;
    right : 300px;
    top : 0px;
    width: auto;
  }

  table {
    width: 300px;
  }
}