body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  min-width: 1460px;
  min-height: 940px;

  /* max-width: 2000px; */
  
  position: fixed;
  overflow: hidden;
}

a {
  color: #00B7FF;
}

#chart {
  display: inline-block;
  width: 100%;
}

/* @media (max-width: 1459px) {
  body {
    width: 70%;
    height: 70%;

    position: relative;
    overflow: auto;
  }
} */